{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Reciclable ♻</title>

    <link rel="icon" type="image/jpg" href="{% static 'imagenes/favicon.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                    <div class="nav">
                        <div class="left">
                            <h2>ReciclableApp</h2>
                        </div>
                        <div class="right">
                            <a href="">Sobre Nosotros</a>
                            <a href="">Tecnologías</a>
                            <a href="">GitHub</a>
                        </div>
                    </div>
            </ul>
        </nav>
        <header>
            <h1>¡Bienvenido!</h1>
            <p>Inicia tu cámara para empezar</p>
            <a href=""><button>Iniciar</button></a>
        </header>
    </div>
</body>
</html>